@import '../../styles/index.scss';

.section-cards {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 140px 0;

  @include tablet {
    padding: 140px 60px;
  }

  @include tablet-mobile {
    padding: 140px 32px;
  }

  h1 {
    @include h1;
    text-align: center;
  }

  &__container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    gap: 29px;
    margin: 50px 0;

    @include tablet {
      grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));

    }

    @include tablet-mobile {
      grid-template-columns: repeat(auto-fit, 1fr);
      gap: 16px;
    }

    @include mobile {
      gap: 20px;
    }
  }

  button {
    margin: auto;
    width: 100%;
    max-width: 120px;
  }
}