// Sizes
$large: 1440px;
$medium: 1260px;
$semi-medium: 860px;
$small: 740px;

$container: 1264px;
$containerTablet: 720px;
$containerMobile: 288px;

$indent-4: 4px;
$indent-8: 8px;
$indent-12: 12px;
$indent-16: 16px;
$indent-20: 20px;
$indent-24: 24px;
$indent-32: 32px;
$indent-34: 34px;
$indent-36: 36px;
$indent-44: 44px;
$indent-48: 48px;
$indent-56: 56px;
$indent-64: 64px;
$indent-76: 76px;
$indent-88: 88px;
$indent-128: 128px;
$indent-130: 130px;

// Colors
$color-black: #000000;

$color-white: #ffffff;

$color-primary-grey: #F8F8F8;
$color-secondary-grey: #B4B4B4;
$color-tertiary-grey: #D0CFCF;

$color-primary-yellow: #F4E041;
$color-secondary-yellow: #FFE302;

$color-primary-blue: #00BDD3;
$color-secondary-blue: #00BDD3;

$color-red: #CB3D40;